/* Analyze */

/* Landing page */

.analyze-grid {
    @include zoom-picture;

    display: flex;
    height: auto;
    gap: 2em;
    margin-bottom: 2rem;

    a:nth-child(odd) {
        max-width: calc(100% / 4);
        padding-bottom: 35%;
        align-self: center;
    }

    a:nth-child(even) {
        max-width: calc(100% / 2);
        padding-bottom: 60%; 
    }

    a,
    a:hover {
        position: relative;
        height: 0;
        text-decoration: none;
        color: $background-alternative-color-darker;
        overflow: hidden;
        border-radius: 5px;
    }

    a:hover {
        box-shadow: 0 0 20px 1px rgba($font-color, 0.2);
        scale: 1.05;
        transition: 0.4s;
    }

    a div {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translate(0, -50%);
        height: 4rem;
        width: 100%;
        font-size: 1.6rem;
        background-color: rgba($background-alternative-color-light, 0.6);
        z-index: 5;
    }

    a:hover div {
        background-color: rgba($background-alternative-color-light, 0.8);
    }
    
    a img {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
    }
}

.analyze-grid.project {
    justify-content: center;

    a {
        max-width: calc(100% / 3);
        padding-bottom: 45%;
        align-self: center;
    }

    a img {
        filter: grayscale(60%);
    }
}

/* 01_colors */

.color-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 50px;
    gap: 1rem;
    align-items: center;
    margin-bottom: $magic-number;
    padding: 0.5rem;
    border: 2px solid $font-color;
    background-color: rgba($background-alternative-color-light, 0.8);
    box-shadow: 2px 2px 5px 1px $background-alternative-color-darker;

    :nth-child(1) {
        margin-top: 0;
        grid-column: span 1;
    }

    :nth-child(2) {
        margin-top: 0;
        grid-column: span 1;
    }

    :nth-child(3) {
        height: auto;
        width: 80%;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    * {
        margin: 0;
    }

    picture {
        margin: auto;
        width: 100%;
        height: auto;
    }

    img {
        margin: auto;
        width: 100%;
        height: auto;
    }

    td {
        text-align: center;
        color: $font-alternative-color;
    }

    .darker-font {
        color: #444;
    }
}

.font-table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgba($background-alternative-color-light, 0.8);
    box-shadow: 2px 2px 5px 1px $background-alternative-color-darker;
    color: #222;

    * {
        text-align: center;
        border: 2px solid $font-color;
    }

    td {
        width: calc(100% / 5);
    }
}

/* 02_load */

.picture {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    img {
        max-width: 100%;
    }
}

.embed-data {
    width: 100%;
    height: 500px;
    margin-bottom: 2rem;

}

@media (max-width: 768px) {
    .color-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 1rem;
        padding: 0.5rem;

        * {
            grid-column: unset !important;
            grid-row: unset !important;
        }

        :nth-child(2) * {
            font-size: 0.8rem;
        }

        :nth-child(3) {
            height: auto;
            width: 40%;
        }

    }

    .analyze-grid {
        flex-direction: column;
        align-items: center;

        a,
        a:hover {
            position: relative;
            max-width: 80% !important;
            padding-bottom: 110% !important;
            margin: 1rem;
            // height: fit-content;
            text-decoration: none;
            color: $background-alternative-color-darker;
        }
    }

    .font-table {
        font-size: 0.8em;
    }
}
