/* Gallery css */

.grid.gallery-wrapper {

    grid-template-rows: 100px repeat(7, auto);

    a {
        overflow: hidden;
        height: 0;
        padding-bottom: 65%;
        border-radius: 5px;
    }

    a:hover {
        scale: 1.05;
        box-shadow: 0 0 20px 1px rgba($font-color, 0.2);
        transition: 0.4s;
    }

    .gallery {
        max-width: 100%;
    }
}

@media (max-width: calc(960px * 1.05)) {
    .grid.gallery-wrapper a:hover {
        scale: unset;
    }
}

@media (max-width: 768px) {
    .grid.gallery-wrapper {
        padding: 1rem;
        grid-template-columns: 100%;
        grid-template-rows: 100px repeat(12, auto);

        gap: 4rem;
    }
}
