/* Technologies */

@mixin grid {
    display: grid;
    gap: 2em;
    max-width: 100%;
}

@mixin grid-img {
    img {
        height: 100%;
        width: auto;
    }
}

@mixin move-picture {
    img {
        top: -120px;
    }
}

.grid {
    @include grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 200px 200px 200px 200px;
    margin-bottom: 2rem;
}

.grid h1 {
    grid-column: span 3;
    justify-self: center;
    font-size: 4em;
    margin: auto;
}

.grid-box {
    height: 200px;
    position: relative;
    overflow: hidden;

    .header-grid {
        position: absolute;
        width: 100%;
        padding: 0 0.5rem;
        background-color: rgba($background-color, 0.7);
        border-bottom: 5px solid $tech-border-color;
        z-index: 10;
    }
    
    img {
        position: relative;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: $font-color;
        width: 100%;
        height: 200px;
    }

    a:hover {
        color: $font-color;
    }

    &.css {
        @include grid-img;
        
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    &.html {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    &.javascript {
        @include move-picture;

        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    &.git {
        @include grid-img;

        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    &.python {
        @include move-picture;

        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }

    &.php {
        @include grid-img;

        grid-column: 1 / 1;
        grid-row: 5 / 6;
    }

    &.sqlite {
        grid-column: 2 / 4;
        grid-row: 5 / 6;
    }
}

.grid-box:hover {
    box-shadow: 0 0 10px 2px rgba($font-color, 0.3);
    scale: 1.05;
    z-index: 11;
    transition: 0.2s;
}

/* Technology */

.grid-2col {
    @include grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
    
    .sidebar > *,
    .sidebar li {
        text-align: center !important;
        padding-left: 0 !important;
    }

    ul {
        list-style: none;
    }

    h2 {
        margin: 21.44px 0;
    }
}

/* Responsive */

@media (max-width: calc(960px * 1.05)) {
    .grid-box:hover {
        scale: unset;
    }
}

@media (max-width: 768px) {
    .grid {

        grid-template-columns: 100%;
        grid-template-rows: 100px, repeat(8, 200px);

        .grid-box,
        h1 {
            grid-column: span 1;
        }

        h1 {
            font-size: 2em;
        }

        > * {
            grid-row: unset !important;
        }

        .grid-box img {
            width: 100%;
            height: auto;
            top: 0;
        }
    }

    .grid-2col {

        grid-template-columns: 100%;

        .sidebar {
            display: none;
        }
    }
}


