// Font
$font-color: #444;
$font-alternative-color: #f5f5f5;
$headers-font: 'Montserrat', sans-serif;
$text-font: 'Nunito Sans', sans-serif;;
$nav-font: 'Roboto', sans-serif;
$font-size: 1.3em;
$line-height: 1.4;
$magic-number: calc($font-size * $line-height);

// Colors
$accent-color: #ee6c4d;
$background-color: #f5f5f5;
$background-alternative-color: #4f6722;
$box-shadow-color-white: #f5f5f5;
$box-shadow-color: #2e4311;

// Width
$main-width: 960px;
