// Font
$font-color: #f5f5f5;
$font-alternative-color: #f5f5f5; 

$headers-font: 'Montserrat', sans-serif;
$text-font: 'Nunito Sans', sans-serif;;
$nav-font: 'Roboto', sans-serif;
$font-size: 1.3em;
$line-height: 1.4;
$magic-number: calc($font-size * $line-height);

// Colors
$accent-color: #eba294;

$background-color: #2c3a13;
$background-alternative-color: #4f6722;
$background-alternative-color-light: #f5f5f5;

$background-second-alternative-color: #5b89eb;
$background-second-alternative-color-light: #2e519e;

$box-shadow-color-white: #f5f5f588;
$tech-border-color: #5b89eb;

// Width
$main-width: 960px;
