// Font
$font-color: #444;
$font-alternative-color: #f6f6f6;

$headers-font: 'Montserrat', sans-serif;
$text-font: 'Nunito Sans', sans-serif;;
$nav-font: 'Roboto', sans-serif;
$font-size: 1.3em;
$line-height: 1.4;
$magic-number: calc($font-size * $line-height);

// Colors
$accent-color: #e39f91;

$background-color: #f6f6f6;
$background-alternative-color: #4e6622;
$background-alternative-color-light: #f6f6f6;
$background-alternative-color-darker: #213005;

$background-second-alternative-color: #2e519e;
$background-second-alternative-color-light: #799ce8;

$box-shadow-color-white: #f6f6f688;
$tech-border-color: #4e6622;

// Width
$main-width: 960px;
