* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

ol, ul {
    padding-left: 1.5em;
}

p {
    margin: 8px 0;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
}

.main {
    max-width: 700px;
    padding: 1em;
    margin: auto;
    flex: 1 0 auto;
}

.header, .footer {
    flex: 0 0 auto;
    margin: auto;
    width: 100%;
}

/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-around;
}

.header {
    background-color: #4f6722;
    box-shadow: 0 0 10px 1px #2e4311;
    margin-bottom: 1em;
}

.header a,
.header p,
.header h1 {
    color: whitesmoke;
    text-shadow: 0 0 10px #2e4311;
}

/* Title */

.title {
    padding: 3em 3em 3em 0;
}

.logo {
    padding: 2em 2em 2em 2em;
}

.logo img {
    border-radius: 50%;
    width: 120px;
    box-shadow: 
        0 0 2px 2px whitesmoke,
        0 0 10px 10px #2e4311;
}

@media (max-width: 767px) {
    .title {
        min-width: 50%;
        padding: 1em 1em 1em 0;
    }
    .logo {
        max-width: 30%;
        padding: 1em 1em 1em 1em;
    }

    .main {
        margin: 0;
    }
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #222;
}

.footer a {
    color: #222;
}

.footer .social {
    font-size: 2rem;
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: #444;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

img {
    max-width: 100%;
}

/* BELOW ARE PREPARED STYLES FOR CODE/PRE/BLOCKQUOTE, FEEL FREE TO REMOVE IT  */

/* Code */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.9824;
}

pre {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
}

pre code {
    display: block;
    margin: 0;
    padding: 1.1111em 0;
    border: 0 none;
    background: transparent;
    overflow-x: auto;
    line-height: 1.4;
}

/* Blockquote */

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}

/* Images */

.garda {
    box-shadow: 3px 3px 10px 2px #395774;
    width: 80%;
    display: block;
    margin: 1em auto;
}